@model Selama.Areas.Account.ViewModels.Home.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to @Model.ButtonMsg.ToLower().</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Home", new { area = "Account", ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            <p>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="btn btn-lg btn-block btn-social btn-@p.AuthenticationType.ToLower()" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                        <span class="fa fa-@p.AuthenticationType.ToLower()"></span>
                        @Model.ButtonMsg using @p.Caption
                    </button>
                }
            </p>
        </div>
    }
}
