@model Selama.Areas.Admin.ViewModels.Users.UserOverviewViewModel

@if (Model.NumPages > 1)
{
    <ul class="pager pager-right">
        @if (Model.ViewPageNum != 1)
        {
            <li class="pager-btn">
                @Html.ActionLink("Prev", "Index", "Users", new { area = "Admin", page = Model.ViewPageNum - 1 }, null)
            </li>
        }
        @* Create first page button if it's not created by the loop *@
        @if (Model.ViewPageNum + Model.PagerStartingIndex > 0 && Model.ViewPageNum + Model.PagerStartingIndex != 1)
        {
            <li class="pager-btn">
                @Html.ActionLink("1", "Index", "Users", new { area = "Admin", page = 1 }, null)
            </li>
            // Add ellipsis if last button from loop will not be next to first page
            if (Model.ViewPageNum + Model.PagerStartingIndex - 1 > 1)
            {
                <li>...</li>
            }
        }

        @* Create the three buttons for the page *@
        @for (int i = Model.PagerStartingIndex; i < Model.PagerStartingIndex + 3; i++)
        {
            int curPage = Model.ViewPageNum + i;
            if (curPage < 1 || curPage > Model.NumPages)
            {
                continue;
            }
            <li class="pager-btn @(i == 0 ? "selected" : "")">
                @Html.ActionLink(curPage.ToString(), "Index", "Users", new { area = "Admin", page = curPage }, null)
            </li>
        }

        @* Create the last page button *@
        @if (Model.ViewPageNum + (Model.PagerStartingIndex + 2) < Model.NumPages && Model.ViewPageNum + (Model.PagerStartingIndex + 2) != Model.NumPages)
        {
            // Add ellipsis if last button from loop isn't next to last button
            if (Model.NumPages - (Model.ViewPageNum + Model.PagerStartingIndex + 2) > 1)
            {
                <li>...</li>
            }
            <li class="pager-btn">
                @Html.ActionLink(Model.NumPages.ToString(), "Index", "Users", new { area = "Admin", page = Model.NumPages }, null)
            </li>
        }
        @if (Model.ViewPageNum != Model.NumPages)
        {
            <li class="pager-btn">
                @Html.ActionLink("Next", "Index", "Users", new { area = "Admin", page = Model.ViewPageNum + 1 }, null)
            </li>
        }
    </ul>
}