@model IEnumerable<Selama.Areas.Account.ViewModels.Manage.ApproveUserViewModel>

@{
    ViewBag.Title = "ApproveUsers";
}

@section Scripts {
    <script type="text/javascript">
        function onUserApprovalSuccess(response)
        {
            var $tr = $("tr[data-user-row='" + response + "']");
            $("#Message").empty().append(
                Selama.createElem("div", "alert alert-success alert-icontext").append(
                    Selama.createElem("span", "fa fa-2x fa-check-circle")
                ).append(
                    Selama.createElem("span").html(
                        '<strong>' + $tr.find("td[data-username]").attr("data-username") + '</strong> has been approved! A confirmation email ' +
                        'has been sent to <strong>' + $tr.find("td[data-user-email]").attr("data-user-email") + '</strong>.'
                    )
                )
            );
            $tr.remove();
        }

        function onUserDenySuccess(response)
        {
            var $tr = $("tr[data-user-row='" + response + "']");
            $("#Message").empty().append(
                Selama.createElem("div", "alert alert-success alert-icontext").append(
                    Selama.createElem("span", "fa fa-2x fa-check-circle")
                ).append(
                    Selama.createElem("span").html(
                        "<strong>" + $tr.find("td[data-username]").attr("data-username") + "</strong> has been denied access."
                    )
                )
            );
            $tr.remove();
        }
    </script>
}

<h2>Approve users</h2>
<div id="Message">

</div>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var user in Model)
    {
        <tr data-user-row="@user.UserID">
            <td data-username="@user.Username">
                @Html.DisplayFor(modelItem => user.Username)
            </td>
            <td data-user-email="@user.Email">
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @using (Ajax.BeginForm("ConfirmUser", null, new AjaxOptions
                {
                    OnBegin = "Selama.SpinShield.raiseShield",
                    OnComplete = "Selama.SpinShield.lowerShield",
                    OnSuccess = "onUserApprovalSuccess"
                },
                new { style = "display: inline-block;" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(modelItem => user.UserID)
                    <button type="submit" class="btn btn-primary btn-icontext">
                        <span class="fa fa-check"></span>
                        <span>Confirm user</span>
                    </button>
                }
                @using (Ajax.BeginForm("DenyUser", null, new AjaxOptions
                {
                    OnBegin = "Selama.SpinShield.raiseShield",
                    OnComplete = "Selama.SpinShield.lowerShield",
                    OnSuccess = "onUserDenySuccess"
                },
                new { style = "display: inline-block;" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(modelItem => user.UserID)
                    <button type="submit" class="btn btn-default btn-icontext">
                        <span class="fa fa-times"></span>
                        <span>Deny user</span>
                    </button>
                }
            </td>

        </tr>
    }

</table>
