@{
    ViewBag.ApplicationName = System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.ApplicationName</title>
    @RenderSection("MetaData", false)
    @Styles.Render("~/Content/Selama/css")
    @RenderSection("Styles", false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Selama-Core")
    @Scripts.Render("~/bundles/modernizr")    
    <script type="text/javascript">
        // Define the link to the help html
        Selama.MarkdownEditor = Selama.MarkdownEditor || {};
        Selama.MarkdownEditor.HelpLocation = '@Url.Action("MarkdownHelp", "Home", new { area = "" })';
    </script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            @Html.Partial("_MenuBarPartial")
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ViewBag.ApplicationName</p>
        </footer>
    </div>
</body>
</html>
