@{
    ViewBag.ApplicationName = System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.ApplicationName</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/requirejs")
    <script type="text/javascript">
        // Define requireJS config options
        var requireJsOptions;
        @if (HttpContext.Current.IsDebuggingEnabled)
        {
        <text>
        requireJsOptions = {
            baseUrl: "/Scripts/JavaScript",
        };
        </text>
        }
        else
        {
        <text>
        requireJsOptions = {
            bundles: {
                '@Scripts.Url("~/bundles/Selama").ToString()': [
                    "Selama.Core",
                    "Selama.Core.Alert",
                    "Selama.Core.SpinShield",
                    "Main"
                ]
            }
        };
        </text>
        }

        requirejs.config(requireJsOptions);
        require(["Main"], function (Main)
        {
            Main.Run();
        });
    </script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        // Define the link to the help html
        var Selama = Selama || {};
        Selama.MarkdownEditor = Selama.MarkdownEditor || {};
        Selama.MarkdownEditor.HelpLocation = '@Url.Content("~/Content/MarkdownDeep/mdd_help.htm")';
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            @Html.Partial("_MenuBarPartial")
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ViewBag.ApplicationName</p>
        </footer>
    </div>
</body>
</html>
