@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Home", new { area = "Account" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin") || User.IsInRole("Guild Officer"))
            {
                @Html.Partial("_AdminMenuItemPartial")
            }
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Hello @User.Identity.GetUserName()! <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.FontAwesomeIconTextActionLink("cogs", "Manage", "Index", "Manage", routeValues: new { area = "Account" }, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <span class="fa fa-sign-out fa-icontext"></span>
                            Log out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Home", new { area = "Account" }, new { id = "registerLink" })</li>
        <li>
            @Html.FontAwesomeIconTextActionLink("sign-in", "Log in", "Login", "Home", new { area = "Account" }, new { id = "loginLink" })
        </li>
    </ul>
}
