@using Microsoft.AspNet.Identity
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    @Html.ActionLink((string)ViewBag.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Roster <span class="caret" /></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Members</a></li>
                    <li><a href="#">Characters</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lore <span class="caret" /></a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Horde", "Threads", "Forum", new { area = "Forums", id = 16 }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Alliance", "Threads", "Forum", new { area = "Forums", id = 17 }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Dragons", "Threads", "Forum", new { area = "Forums", id = 18 }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Races", "Threads", "Forum", new { area = "Forums", id = 19 }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Organizations", "Threads", "Forum", new { area = "Forums", id = 20 }, null)
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Role Playing Guides <span class="caret" /></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Blood Elves</a></li>
                    <li><a href="#">Tauren</a></li>
                </ul>
            </li>
            <li><a href="#">Gallery</a></li>
            <li>@Html.ActionLink("Forums", "Index", "Forum", new { area = "Forums" }, new { })</li>
            <li><a href="#">Reports</a></li>
        }
        else
        {
            <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { })</li>
            <li>@Html.ActionLink("Join", "Join", "Home", new { area = "" }, new { })</li>
        }
    </ul>
    @Html.Partial("_LoginPartial")
</div>