@using Microsoft.AspNet.Identity;
@model Selama.Areas.Forums.ViewModels.ThreadReplyViewModel

<div class="row thread-reply" data-thread-reply="@Model.ID">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.PostDate)
                </div>
                @if (User.Identity.GetUserId() == Model.AuthorID)
                {
                    <div class="col-xs-6 col-sm-6 col-md-6" style="text-align: right;">
                        <a class="anchor" name="@ViewData["Index"]" href="#@ViewData["Index"]">#@ViewData["Index"]</a>
                        <ul class="edit-options-list">
                            <li>
                                <a class="thread-reply-edit" href="#">Edit</a>
                            </li>
                            <li>Delete</li>
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-12 col-md-2 thread-reply-author">
                @Model.Author
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 thread-reply-content">
                @Model.HtmlContent
            </div>
        </div>
    </div>
</div>