@using Microsoft.AspNet.Identity;
@model Selama.Areas.Forums.ViewModels.ThreadPostViewModel

@{
    string attrVal = null;
    switch (Model.PostType)
    {
        case Selama.Areas.Forums.ViewModels.PostType.Thread:
            attrVal = "thread";
            break;
        case Selama.Areas.Forums.ViewModels.PostType.ThreadReply:
            attrVal = "thread-reply";
            break;
        default:
            break;
    }
}
<div class="row thread-post @attrVal" @("data-" + attrVal)="@Model.ID">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <span data-toggle="tooltip" data-placement="bottom" title="@Html.DisplayFor(model => model.PostDate)">
                        @Html.DisplayFor(model => model.DisplayDate)
                    </span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" style="text-align: right;">
                    <span class="anchor" id="@Model.PostIndex" href="#@Model.PostIndex">
                        
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-12 col-md-2 @(attrVal + "-author")">
                @Model.Author
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 @(attrVal + "-content")">
                @Model.HtmlContent
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="post-options-list">
                    @if (User.Identity.GetUserId() == Model.AuthorID && !Model.IsLocked)
                    {
                        <li>
                            <a href="#ThreadReplyEditorForm" class="btn btn-default thread-post-quote"
                               data-toggle="tooltip" data-placement="top" title="Quote">
                                <i class="fa fa-comment"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-default thread-post-edit" href="#"
                               data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-default thread-post-delete" href="#"
                               data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>