@model ThreadReplyEditViewModel

@Html.HiddenFor(model => model.ID)

@Html.EditorFor(model => model.ThreadID, new { htmlAttributes = new { @class = "form-control" } })

<div class="container-fluid">
    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            <div class="markdown-wrap">
                <div class="mdd_editor_wrap">
                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control mdd_editor" })
                    <div class="mdd_preview"></div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

@Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
