@model Selama.Areas.Forums.ViewModels.ThreadViewModel

@Scripts.Render("~/bundles/MarkdownDeep")
@Styles.Render("~/Content/MarkdownDeep/css")
<script type="text/javascript">
    // Define the link to the help html
    var Selama = Selama || {};
    Selama.MarkdownEditor = Selama.MarkdownEditor || {};
    Selama.MarkdownEditor.HelpLocation = '@Url.Content("~/Content/MarkdownDeep/mdd_help.htm")';
</script>

<div class="form-group">
    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10" style="display: table; width: 100%;">
        @Html.TextAreaFor(model => model.Content, new { @class = "form-control mdd_editor" })
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    </div>
</div>
