@model Selama.Areas.Forums.ViewModels.ThreadViewModel

@{
    ViewBag.Title = "Add a thread";
}

@section Scripts {
    <script type="text/javascript">
        require(["jquery.validate.unobtrusive"]);
    </script>
}

<h2>Add a thread</h2>
<p>
    @Html.ActionLink("Back to forum", "Threads", new { id = Model.ForumID })
</p>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Add a thread</h4>
        <hr />
        
        @Html.HiddenFor(model => model.ForumID)

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}