@using Selama.Areas.Forums.ViewModels
@model IEnumerable<ForumSectionViewModel>

@{
    ViewBag.Title = "Forums";
}

@section Scripts {
    <script type="text/javascript">
        require(["Forums/Selama.Forums"], function (Forums)
        {
            Forums.onAjaxRequestBegin();
            Forums.onAjaxRequestEnd();
        });
    </script>
}

<h2>Forums</h2>

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
{
    <div class="alert alert-danger alert-icontext">
        <i class="fa fa-2x fa-exclamation-circle"></i> <span>@ViewBag.ErrorMsg</span>
    </div>
}

@foreach (ForumSectionViewModel forumSection in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading" style="padding-right: 0;">
            <table style="width: 100%;">
                <tr>
                    <th style="width: 75%;">
                        @forumSection.Title
                    </th>
                    <th style="width: 10%; text-align: center;">
                        Threads
                    </th>
                    <th align="center" style="width: 15%;">
                        Last Post
                    </th>
                </tr>
            </table>
        </div>
        <div class="panel-body" style="padding: 0;">
            <table class="table table-striped" style="margin-bottom: 0;">
                @foreach (ForumOverviewViewModel forum in forumSection.Forums)
                {
                    <tr>
                        <td style="width: 75%; padding-left: 30px;">
                            @Html.ActionLink(forum.Title, "Threads", new { id = forum.ID })
                            @if (!string.IsNullOrWhiteSpace(forum.SubTitle))
                            {
                                <text>
                                    <br />
                                    @forum.SubTitle
                                </text>
                            }
                        </td>
                        <td align="center" style="width: 10%;">
                            @forum.NumThreads
                        </td>
                        <td style="width: 15%;">
                            @if (forum.LastPost == null)
                            {
                                <text>None</text>
                            }
                            else
                            {
                                <div>
                                    @Html.ActionLink(forum.LastPost.ThreadTitle, "Thread", "Forum", new { area = "Forums", id = forum.LastPost.ThreadID}, null)<br />
                                    @forum.LastPost.Author
                                </div>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
