@using Selama.ViewModels;
@model ForumViewModel

@{
    ViewBag.Title = "Threads";
}

@section Scripts {
    <script type="text/javascript">
        require(["Forums/Threads"], function (Threads)
        {
            Threads.Setup();
        });
    </script>
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Forums", "Index", "Forum")</li>
    <li class="active">@Model.Title</li>
</ul>

<h2>@Model.Title</h2>
@if (!string.IsNullOrWhiteSpace(Model.SubTitle))
{
    <h5>@Model.SubTitle</h5>
}

<div class="row pager-row">
    <div class="col-sm-3 col-md-3">
        @Html.ActionLink("Add thread", "CreateThread", "Forum", new { area = "Forums", id = Model.ID }, new { @class = "btn btn-default" })
    </div>
    <div class="col-sm-9 col-md-9">
        @Html.Partial("_PagerPartial", new PagerViewModel(Model))
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="width: 75%;">Thread</th>
            <th style="width: 10%; text-align: center; padding-right: 8px;">Replies</th>
            <th style="width: 15%;">Last Post</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ThreadOverviewViewModel thread in Model.Threads)
        {
            string title = thread.Title;
            if (thread.IsPinned)
            {
                title = "[Pinned] " + title;
            }
            <tr>
                <td class="thread-title" title="@title" data-content="@thread.Preview">
                    @Html.ActionLink(title, "Thread", "Forum", new { area = "Forums", id = thread.ID }, null)
                    @if (thread.IsLocked)
                    {
                        <span class="fa fa-lock"></span>
                    }
                </td>
                <td style="text-align: center;">
                    @thread.NumReplies
                </td>
                <td>
                    @thread.LastPost.Author<br />
                    <span data-toggle="tooltip" data-placement="bottom" title="@Html.DisplayFor(model => thread.LastPost.PostDate)">
                        @thread.LastPost.DisplayDate
                    </span>
                </td>
            </tr>
        }
        <tr></tr>
    </tbody>
    </table>

    <div class="row pager-row">
        <div class="col-sm-3 col-md-3">
            @Html.ActionLink("Add thread", "CreateThread", "Forum", new { area = "Forums", id = Model.ID }, new { @class = "btn btn-default" })
        </div>
        <div class="col-sm-9 col-md-9">
            @Html.Partial("_PagerPartial", new PagerViewModel(Model))
        </div>
    </div>