@using Selama.Areas.Forums.ViewModels
@using Microsoft.AspNet.Identity;
@model ThreadViewModel
@{
    ViewBag.Title = Model.Title;
}

@section Scripts {
    @Styles.Render("~/Content/MarkdownDeep/css")
    @Scripts.Render("~/bundles/MarkdownDeep")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        // Define the link to the help html
        var Selama = Selama || {};
        Selama.MarkdownEditor = Selama.MarkdownEditor || {};
        Selama.MarkdownEditor.HelpLocation = '@Url.Content("~/Content/MarkdownDeep/mdd_help.htm")';

        function onPostReplyClick()
        {
            $("#ThreadReplyEditor").removeClass("hidden")
                .find(".mdd_editor").val("").focus();
            $("#ThreadReplyEditor .mdd_preview").text("");
        }

        $(document).ready(function ()
        {
            $(".btn.btn-post-reply").click(onPostReplyClick);
        });
    </script>
}

<ul class="breadcrumb">
    <li>
        @Html.ActionLink("Forums", "Index", "Forum", new { area = "Forums" }, null)
    </li>
    <li>
        @Html.ActionLink(Model.ForumName, "Threads", "Forum", new { area = "Forums", id = Model.ForumID }, null)
    </li>
    <li class="active">
        @Model.Title
    </li>
</ul>

<h2>@if (Model.IsPinned){ <text>[Pinned] </text>;}@Model.Title</h2>
<div class="row" style="margin: 12px 0;">
    <div class="col-md-12" style="padding: 0;">
        <div class="btn btn-default btn-post-reply">
            Add Reply
        </div>
    </div>
</div>
<div class="row" data-thread="@Model.ID">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.PostDate)
                </div>
                @if (User.Identity.GetUserId() == Model.AuthorID || User.IsInRole("Admin"))
                {
                    <div class="col-xs-6 col-sm-6 col-md-6" style="text-align: right;">
                        <ul class="edit-options-list">
                            <li>Edit</li>
                            <li>Delete</li>
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-12 col-md-2">
                @Model.Author
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10">
                @Model.HtmlContent
            </div>
        </div>
    </div>
</div>

@foreach (ThreadReplyViewModel reply in Model.Replies)
{
    @Html.DisplayFor(model => reply)
}

<div class="row" style="margin: 0;">
    <div class="col-md-12" style="padding: 0;">
        <div class="btn btn-default btn-post-reply">
            Add Reply
        </div>
    </div>
</div>

@Html.Partial("EditorTemplates/ThreadReplyViewModel", new ThreadReplyViewModel { ThreadID = Model.ID })