@using Selama.Areas.Forums.ViewModels
@using Microsoft.AspNet.Identity;
@model ThreadViewModel
@{
    ViewBag.Title = Model.Title;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function onPostReplyClick()
        {
            $("#ThreadReplyEditor").show("blind")
                .find(".mdd_editor").val("").focus();
            $("#ThreadReplyEditor .mdd_preview").text("");
        }

        function onAjaxRequestBegin()
        {
            Selama.SpinShield.raiseShield();
        }
        function onAjaxRequestComplete()
        {
            Selama.SpinShield.lowerSheild();
        }

        function onReplyEditLinkClick(e)
        {
            var replyId = $(e.target).closest(".row[data-thread-reply]").attr("data-thread-reply");
            
            onAjaxRequestBegin();
            $.ajax({
                url: '@Url.Action("EditReply", "Forum", new { area = "Forums" })',
                data: { id: replyId },
                type: 'GET',
                complete: onAjaxRequestComplete,
                success: onReplyEditLinkClick_Success,
                error: onReplyEditLinkClick_Error,
            });
        }
        function onReplyEditLinkClick_Success(response)
        {
            $("#ThreadReplyEditModal").modal("show").find(".modal-body").html(response);
        }
        function onReplyEditLinkClick_Error(response)
        {
            // TODO: Create shared Bootstrap alert window
            if (response.statusText === "Invalid ID")
            {
                alert("An invalid thread reply ID was provided");
            }
            else
            {
                alert("Error occurred");
            }
        }

        function onReplyUpdateRequestBegin()
        {
            Selama.SpinShield.raiseShield();
        }
        function onReplyUpdateRequestComplete()
        {
            Selama.SpinShield.lowerSheild();
        }
        function onReplyUpdateRequestSuccess(response)
        {
            $(".thread-reply[data-thread-reply='" + response.id + "']")
                .find(".thread-reply-content").html(response.content);
            $("#ThreadReplyEditModal").modal("hide");
        }
        function onReplyUpdateRequestFailure(response)
        {
            // TODO: Bootstrap styled alert
            alert("An error occured while updating");
        }

        function onReplyEditModalShown(e)
        {
            var $replyEditTextarea = $("#ThreadReplyEditModal textarea.mdd_editor");
            $replyEditTextarea.MarkdownDeep(Selama.MarkdownEditor.Options);
            var m = new MarkdownDeepEditor.Editor($replyEditTextarea[0], $("#ThreadReplyEditModal div.mdd_preview")[0]);
        }

        $(document).ready(function ()
        {
            $(".btn.btn-post-reply").click(onPostReplyClick);
            $("#ThreadReplyEditor").hide();
            $(".row[data-thread-reply]").on("click", ".edit-options-list a", onReplyEditLinkClick);
            $("#ThreadReplyEditModal").on("shown.bs.modal", onReplyEditModalShown);
        });
    </script>
}

<ul class="breadcrumb">
    <li>
        @Html.ActionLink("Forums", "Index", "Forum", new { area = "Forums" }, null)
    </li>
    <li>
        @Html.ActionLink(Model.ForumName, "Threads", "Forum", new { area = "Forums", id = Model.ForumID }, null)
    </li>
    <li class="active">
        @Model.Title
    </li>
</ul>

<h2>
    @if (Model.IsPinned)
{ <text>[Pinned] </text>;
}@Model.Title
</h2>
<div class="row" style="margin: 12px 0;">
    <div class="col-md-12" style="padding: 0;">
        <div class="btn btn-default btn-post-reply">
            Add Reply
        </div>
    </div>
</div>
<div class="row" data-thread="@Model.ID">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.DisplayFor(model => model.PostDate)
                </div>
                @if (User.Identity.GetUserId() == Model.AuthorID || User.IsInRole("Admin"))
                {
                    <div class="col-xs-6 col-sm-6 col-md-6" style="text-align: right;">
                        <ul class="edit-options-list">
                            @if (User.Identity.GetUserId() == Model.AuthorID)
                            {
                                <li>Edit</li>
                            }
                            <li>Delete</li>
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-12 col-md-2">
                @Model.Author
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10">
                @Model.HtmlContent
            </div>
        </div>
    </div>
</div>

@foreach (ThreadReplyViewModel reply in Model.Replies)
{
    @Html.DisplayFor(model => reply)
}

@Html.Partial("EditorTemplates/ThreadReplyViewModel", new ThreadReplyViewModel { ThreadID = Model.ID })

<div class="row" style="margin: 0;">
    <div class="col-md-12" style="padding: 0;">
        <div class="btn btn-default btn-post-reply">
            Add Reply
        </div>
    </div>
</div>

<div id="ThreadReplyEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Edit reply
                </h4>
            </div>
            @using (Ajax.BeginForm("EditReply", "Forum", new { area = "Forums" }, new AjaxOptions
            {
                OnBegin = "onReplyUpdateRequestBegin",
                OnComplete = "onReplyUpdateRequestComplete",
                OnFailure = "onReplyUpdateRequestFailure",
                OnSuccess = "onReplyUpdateRequestSuccess"
            }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <div class="modal-body">
                    The content goes here
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            }
        </div>
    </div>
</div>